/*div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 20px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
}*/


.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}

.tooltip-inner{
    min-width: 100px;
    max-width: 100%;
    height: 50px;
}